# project-specific ignores
*.spl
asa/asa
SESSION.NAME
*.vtk
_junk.txt
.idea
.idea/*
.idea/libraries/*
*.nja
euler_ns
fort.*
Navier_Stokes/navier_stokes_2d
navier_stokes_2d.dSYM
output0000.vtk
doc.dvi
output.ps
junk*

###############################
*.bbl 
*.blg
*.dvi
*.log
*.out
*.nav
*.snm


###############################
*.dat
.svn
.bzr
.hgsvn
*.komodoproject
.hg
*.wpr
*.sublime-*

#build and log files
###############################
*.o
*.pyc
*.pyo
*.out
*.log
*.tmp

#Apple / Mac stuff
###############################
.DS_Store
._*
.Trash
PloneController.app

#crazy files
###############################
META
build/
tmp/
junk
trash

#  Binary stuff I don't want
#  in a repo.
###############################
*.exe
*.zip
*.tgz
*.tar
*.bzip
*.tbz
*.gz
*.bin
*.zexp

# obvious backup files
###############################
*.orig
*.bak
*~
~*

#database files
###############################
*.db
Data.f*

# plone/zope stuff
#########################
version_pins.cfg
fake-eggs
develop-eggs
var/*
eggs
parts/*
opt
#src
bin
*egg-info
WingDBG
.installed.cfg
adminPassword.txt
picked-versions.cfg
*.mo
*.egg
*.EGG
*.EGG-INFO
build
downloads
dist
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
